body{
	background: linear-gradient(to right, #919691, #606160);
}

form {
	margin-left:550px;
	margin-top:40px;
	width: 300px;
	border: 2px solid #ccc;
	padding: 30px;
	background: linear-gradient(to right, #999c99, #606160);
	border-radius: 15px;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
	font-family: Lobster;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 6px;
	margin: 10px auto;
	border-radius: 10px;
}
label {
	color: rgb(17, 16, 16);
	font-size: 18px;
	padding: 10px;
	font-family: Lobster;
}

button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 6px 17px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
button:hover{
	opacity: .7;
	border: 1px solid #d3918c;
    background: #5699b4;
    transition: 1s;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #444;
}
.ca:hover {
	text-decoration: underline;
} 

.home-nav a {
	padding: 10px;
	color: #f7bd65;
	text-transform: uppercase;
	text-decoration: none;
}